body{
    background: linear-gradient(to left, black, white);
    color: white;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Schools{
    text-align: center;
    position: relative;
    display: inline-block;
    padding-left: 26%;
    padding-top: 5px;
}

.name{
    padding-left: 34%;
}
